@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <title>JavaScript Localization</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <h1>JavaScript localization</h1>

    <p>
        Demo:
        <span id="demo"></span>
    </p>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/?lang=en-US">en-US</a></li>
            <li><a href="/?lang=da-DK">da-DK</a></li>
            <li><a href="/?lang=es">es</a></li>
        </ul>
    </nav>

    @LocScripts.Render("~/locscript")
</body>
</html>