body   {
    font-family: 'Segoe UI', Verdana;
    text-align: center;
}

p{
    font-weight: bold;
    font-size: 1.4em;
}

nav ul{
    list-style: none;
    margin-top: 4em;
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
}